  body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: large;
  }

  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .App-header {
    background-color: rgb(1, 1, 56);
    color: white;
    padding: 16px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .header-content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .logo-container {
    margin-right: 16px; 
  }

  .logo {
    height: 50px; 
    width: auto;  
  }

  .title-container {
    flex: 1;
  }

  .menu-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  /* Hamburger menu */
  .menu-toggle {
    display: none;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    padding-right: 10px;
  }

  .menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    transition: 0.3s;
  }

  .App-nav {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }

  .App-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .App-nav ul li {
    margin: 0 16px; 
  }

  .App-nav ul li a {
    color: white;
    text-decoration: none;
  }

  .App-nav ul li a:hover {
    text-decoration: underline;
  }

  main {
    flex: 1; 
    padding: 16px; 
  }

  .top {
    background-color: #f1f1f1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; 
  }

  .top-content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .text-container {
    flex: 1;
    padding: 20px;
    max-width: 500px; 
  }

  .text-container h2 {
    font-size: 50px; 
    margin: 0;
    text-align: center;
  }

  .search-and-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .logo-main {
    height: 400px; 
    width: auto; 
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px 24px; 
  }

  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    max-width: 600px; 
    width: 100%; 
  }

  .search-form input,
  .search-form button {
    width: auto; 
  }

  .search-form input {
    padding: 12px; 
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-form button {
    padding: 12px 24px; 
    font-size: 16px; 
    border: none;
    background-color: rgb(1, 1, 56); 
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  .search-form button:hover {
    background-color: rgb(1, 60, 119); 
  }

  .info-boxes {
    display: flex;
    justify-content: space-between;
    gap: 16px; 
    padding: 16px 0; 
  }

  .info-box {
    flex: 1;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  .info-box h2 {
    margin: 0 0 16px; 
  }

  .info-box p {
    margin: 0;
  }


  footer {
    background-color: rgb(1, 1, 56); 
    color: white;
    padding: 16px; 
    text-align: center;
  }

  /* Responsive styling */
  @media (max-width: 768px) { /* Width for most tablets */
    .App-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .menu-toggle {
      display: block;
    }

    .App-nav {
      display: none;
      flex-direction: column;
      width: 100%;
    }

    .App-nav.open {
      display: flex;
    }

    .App-nav ul {
      flex-direction: column;
    }

    .App-nav ul li {
      margin: 8px 0; 
    }

    .top {
      padding: 16px; 
      min-height: 300px; 
      flex-direction: column; 
    }

    .top-content {
      flex-direction: column;
      align-items: center;
    }

    .text-container {
      margin-bottom: 16px; 
    }

    .search-and-logo-container {
      flex-direction: column; 
    }

    .search-form {
      max-width: 100%; 
      flex-direction: column;
    }

    .search-form input,
    .search-form button {
      width: 100%; 
      margin-bottom: 8px; 
    }

    .info-boxes {
      flex-direction: column;
      gap: 16px; 
    }

    .info-box {
      width: 100%;
    }

    .logo-main {
      display: none; /* Hide logo */
    }
  }